.Habilidades {
    position:relative;
    margin-top: 200px;
    width: 65%;

    left: 17.5%;
    right: 17.5%;
    
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.contHabilidad{
    height: 100px;
    width: 90%;
    margin: 35px 5%;
}

.iconHabilidad{
    width: 80px;
    height: 80px;

    position: absolute;
    top: -50px;
    left: 2%;
}

.txtHabilidades{
    padding-top: 5px;
    font-size: 24px;
}

.progreso{
    position: absolute;
    bottom: 0px;
    left: 0px;

    border-bottom-left-radius: .25em;
    border-bottom-right-radius: .25em;

    height: 50px;
}

@-moz-document url-prefix(){
    .iconHabilidad{
        position: relative;
    }

    .txtHabilidades{
        position: relative;
        top: -80px;
    }

    .progreso{
        position: relative;
        top: -68px;
    }
}

@media (max-width: 1160px){
    .Habilidades {

        position:relative;
        width: 90%;
        padding-top: 10px;
    
        left: 5%;
        right: 5%;
        
        display: grid;
        grid-template-columns: 1fr;
    }




}